body {
  height: 100vh;
  background-color: #f2f9fe;
}

.commonButton {
  font-family: "Poppins", sans-serif;
  font-size: 1rem; /*16px*/
  font-weight:  580;
  text-transform: uppercase;
  background-color: #2a4dd0;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 16px 32px;
}

.commonLink {
  font-family: "Poppins", sans-serif;
  font-size: 1rem; /*16px*/
  font-weight:  580;
  color: #2a4dd0;
  text-decoration: none;
  border-bottom: 2px solid #2a4dd0;
}

/* =========================== dark theme section =========================== */
.darkThemeBody{
  background-color: #111729 !important;
}
.darkThemeText {
  color: #f2f9fe !important;
}

/* =========================== header section =========================== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 72px;
}

nav .navItem {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem; /*14px*/
  font-weight: bold;
  color: #909193;
  text-decoration: none;
  margin-left: 40px;
}

nav .navItemActive {
  color: #223344;
}

/* 
unchecked = light theme
checked = dark theme 
*/
.themeToggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.themeToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #223344;
  border-radius: 24px;
  background-image: url("../../images/challenge5/Moon_fill_light.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: left 4px center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  right: 2px;
  bottom: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #f2f9fe;
  border-radius: 50%;
  background-image: url("../../images/challenge5/Sun_fill.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: center;
}

input:checked + .slider {
  background-image: url("../../images/challenge5/Sun_fill_light.svg");
  background-position: right 4px center;
}

input:checked + .slider:before {
  right: 0px;
  background-image: url("../../images/challenge5/Moon_fill.svg");
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/* =========================== banner section =========================== */
.bannerSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  padding: 66px 72px 24px 72px;
}

.bannerLeftSide {
  max-width: 500px;
  flex: 1;
}

.byliner {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem; /*14px*/
  font-weight: bold;
  text-transform: uppercase;
  color: #223344;
  margin-bottom: 16px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem; /*60px*/
  color: #223344;
  margin-bottom: 32px;
}

.subheading {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem; /*18px*/
  font-weight: 500;
  color: #909193;
  margin-bottom: 24px;
}

.buttonLinkBox{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 42px;
}

.extraDetails{
  display: flex;
  align-items: center;
  gap: 24px;
}

.detailBox{
  display: flex;
  align-items: center;
  gap: 8px;
}

.detailBox p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem; /*14px*/
  color: #909193;
}

/* .bannerRightSide {
} */

.imageContainer{
  max-width: 550px;
}

.bannerRightSide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Largest devices such as tablets (1024px and down) */
@media only screen and (max-width: 1024px) {
  header{
    padding: 24px 32px;
  }
  .bannerSection{
    flex-direction: column-reverse;
    align-items: normal;
    padding-bottom: 140px;
  }
  .bannerLeftSide{
    max-width: 100%;
    padding: 0 38px;
  }
  .bannerRightSide {
    display: flex;
    justify-content: center;
  }
}

/* Small devices such as small phones (640px and down) */
@media only screen and (max-width: 640px) {
  nav{
    display: none;
  }
  .bannerSection{
    padding-left: 24px;
    padding-right: 24px;
  }
}
